.CorpoConsulta{
    display: grid;
    margin: 0  0 5% 0;
    padding-left: 5%;
    font-family: sans-serif;
}

.TituloConsulta{
    margin: 7% 0 0 0;
}
.selecao{
    display: grid;
    margin-left: 3.5%;
    margin-bottom: 6%;
}

.Line1{
    display: grid;

}


#estiloselecao{
    width:  300px;
}
#estiloselecao2{
    width: 400px;
}

.Line2{
    display: grid;
    margin: 5% 0 5% 0;

}

Button{
    justify-self: end;
}
#botaoconsulta{
    background-color: #007bff;
    color: #fff;
}

.camposelecao{
    display: grid;
    width: 200px;
}

