.Corpo{
    display: grid;
    padding: 2%;
    font-family: sans-serif;
}

#Linhatitulo{
    width: 100%;
    margin-left: 0;
}

.Titulo{
    margin-top: 5%;
}

h3{
    color: #007bff;
}
hr{
    width: 100%;
}
.Linha1{
    display: flex;
    margin-bottom: 2%;
   
}
.campo2{
    margin-left: 4%;
}

.Linha2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-right: 45.5%;
}


.Linha3{
    display: flex;
    justify-content: space-between;
    margin-right: 47%;
}
#estilo1{
    background-color: #007bff;
    color: #fff;
    height: 30px;
}

.Linha4{
    display: flex;
   
}
.botaogeraritens{
    justify-self: end;
}
#estilo{
    background-color: #007bff;
    color: #ffff;
}

#estilo-cor{
    width: 80%;
    vertical-align: top;
}


#estilo-botao-salvard{
    background-color: #007bff;
    color: #fff;
}