.Corpo{
    display: grid;
    padding: 2%;
    font-family: sans-serif;
}

#Linhatitulo{
    width: 100%;
    margin-left: 0;
}

.Titulo{
    margin-top: 2%;
}

h3{
    color: #007bff;
}
hr{
    width: 100%;
}
.Linha1{
    display: flex;
    margin-bottom: 2%;
   
}
.campo2{
    margin-left: 4%;
}

.Linha2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-right: 28%;
    /* margin-right: 45.5%;*/
    /*tela grande margin-right: 45.5%*/
}


.Linha3{
    display: flex;
    justify-content: space-between;
    margin-right:  30%;
    margin-bottom: 2%;
    
}
#estilo1{
    background-color: #007bff;
    color: #fff;
    height: 30px;
}

.Linha4{
    display: flex;
   
}
.botaogeraritens{
    justify-self: end;

}
#estilo{
    background-color: #007bff;
    color: #ffff;
}

#estilo-cor{
    width: 80%;
    vertical-align: top;
}


#estilo-botao-salvard{
    background-color: #007bff;
    color: #fff;
}

#estilo-modal{
    height: 120%;
    width: 140%;
}
.campo-detalhes{
    width: 5%;
    margin-left: -2%;
}

.campos-tamanhos{
    display: flex;
    justify-content: space-between;
}
.campo-tamanho{
    margin-left: 8%;     
}
.campo-nomecor{
    margin-left: 10%;
}
.campo-tamanho-text{
     display: flex;
}
.campo-tam{
    width: 15%;
    margin-left: 2%;
}
.campo-nomecor-text{
    display: flex;
    margin-left: -62%;
    margin-top: -6%;
}
#estilo1-mais{
    background-color: #007bff;
    color: #fff;
    height: 30px;
    margin-top: 25%;
    margin-left: 10%;
}


.campo1linha4{
    margin-bottom: 2%;
}


@media screen and (max-width: 495px){
    .Corpo{
        display: grid;
        padding: 2%;
        font-family: sans-serif;
    }
    .Linha2{
        display: grid;
        margin-bottom: 2%;  

    }
    .campo-linha2{
        width: 130%;
    }
    

    .campo-tamanho{
        margin-left: 8%;     
    }
    .campo-nomecor{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 1200px) {
    .linha2 TextField {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3%;
        margin-right: 45.5%;
     }

     .campo-linha2 TextField{
         width: 200px;
     }
}


